<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>112-1 臺灣大學宿舍候補紀錄</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;400;500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500&family=Roboto+Mono&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/normalize.min.css">

    <style>
      .noto-sans-tc {
        font-family: 'Noto Sans TC', sans-serif;
      }
      .roboto-mono {
        font-family: 'Roboto Mono', monospace;
      }
    </style>
  </head>
  <body class="bg-light noto-sans-tc ma-0">
    <div id="app" class="lg:w-50% lt-lg:w-75% mx-auto pb-10">
      <h1 class="font-500">112-1 臺灣大學宿舍候補紀錄</h1>

      <p class="line-height-normal">
        當天的資料為即時的，已過去的資料為每個平日 18:00 保存的資料。
      </p>
      <p>
        ※ 08/01 至 08/18 研究生宿舍的紀錄為友人提供的資料。
        <br />
        ※ 本站於 08/22 自行決定停止更新「學士班新生宿舍暑假住宿申請作業」。
      </p>
      <p>
        資料來源：
        <a href="https://osa_dorm.ntu.edu.tw/" target="_blank">
          國立臺灣大學 學務處 | 學生住宿服務組
        </a>
      </p>

      <div class="border-b-1 border-b-solid border-gray"></div>

      <div
        v-for="group, name in history"
        class="mb-10"
      >
        <h2 class="
          pl-2
          border-l-5 border-l-solid border-red-8
          font-200"
        >
          {{ name }}
          <span
            v-if="group.date.slice(-1)[0] !== today"
            class="text-red-600 font-500"
          >
            (停止更新)
          </span>
        </h2>

        <div class="mb-5">
          <canvas :id="`chart-${name}`"></canvas>
        </div>

        <table
          v-if="Object.keys(history).length > 0"
          class="
            mb-5
            border-collapse border-solid border-size-1
            text-center"
        >
          <thead class="bg-gray-3">
            <tr class="font-500">
              <th
                v-for="title in ['日期', '男生', '女生']"
                class="
                  w-30 p-1
                  border-solid border-size-1"
              >
                {{ title }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="_, i in group.date">
              <td
                v-for="key in ['date', 'male', 'female']"
                class="
                  p-1
                  border-solid border-size-1"
              >
                {{ group[key][i] }}
              </td>
            </tr>
          </tbody>
        </table>

        <div class="border-b-1 border-b-solid border-gray"></div>
      </div>
    </div>

    <footer class="
      fixed bottom-0
      w-full pa-1
      bg-gray-2
      text-center"
    >
      <span style="letter-spacing: 0.5rem;">本網站的內容皆開源於</span>
      <a class="roboto-mono" href="https://github.com/Alan-Kuan/112-ntu-dorm-waitlist" target="_blank">
        GitHub
      </a>
    </footer>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const ignored_groups = [
            '學士班新生宿舍暑假住宿申請作業',
          ];
          const today = (new Date()).toISOString().split('T')[0];
          const history = ref({});

          return {
            ignored_groups,
            today,
            history,
          };
        },
        async mounted() {
          const data = await fetch('./history.json')
            .then(res => res.json());

          this.history = data.history;

          if (data.last_saved_date !== this.today) {
            await this.fetchLatestData();
          }

          this.drawCharts();
        },
        methods: {
          async fetchLatestData() {
            const endpoint = 'https://housing.ntu.edu.tw/index/get.progress.json';

            await fetch(endpoint)
              .then(res => res.json())
              .then(data => {
                for (const item of data) {
                  const name = item.name;

                  if (this.ignored_groups.includes(name)) {
                    continue
                  };

                  if (name in this.history) {
                    const group = this.history[name];

                    group.date.push(this.today);
                    group.male.push(item.male);
                    group.female.push(item.female);
                  } else {
                    this.history[name] = {
                      date: [this.today],
                      male: [item.male],
                      female: [item.female],
                    };
                  }
                }
              });
          },
          drawCharts() {
            for (const [ name, group ] of Object.entries(this.history)) {
              const ctx = document.getElementById(`chart-${name}`);

              new Chart(ctx, {
                type: 'line',
                data: {
                  labels: group.date,
                  datasets: [
                    { label: '男生', data: group.male },
                    { label: '女生', data: group.female },
                  ]
                },
                options: {
                  scales: {
                    x: {
                      title: {
                        display: true,
                        text: '日期',
                      },
                    },
                    y: {
                      title: {
                        display: true,
                        text: '已補到的候補序號',
                      },
                    },
                  },
                },
              });
            }
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
